CREATE DATABASE QuanLyMuaBanCanHo1
GO

USE [QuanLyMuaBanCanHo1]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CANHO](
	[MaCanHo] [char](6) NOT NULL,
	[DienTich] [float] NOT NULL,
	[Gia] [bigint] NOT NULL,
	[TrangThai] [bit] NOT NULL,
	[SoPhong] [int] NOT NULL,
	[MaCuDan] [char](6) NULL,
	[MaKhu] [char](5) NOT NULL,
 CONSTRAINT [pk_CANHO] PRIMARY KEY CLUSTERED 
(
	[MaCanHo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[PHANTICH]    Script Date: 06/03/2022 12:15:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[PHANTICH] AS
SELECT MaKhu,COUNT(MaCanHo)
  AS SoCanHoTrong FROM dbo.CANHO
  WHERE TrangThai = 0 GROUP BY MaKhu ;
GO
/****** Object:  Table [dbo].[CUDAN]    Script Date: 06/03/2022 12:15:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUDAN](
	[MaCuDan] [char](6) NOT NULL,
	[TenCuDan] [nvarchar](50) NOT NULL,
	[NgaySinh] [date] NOT NULL,
	[GioiTinh] [bit] NOT NULL,
	[SoDT] [char](10) NOT NULL,
	[SoCMT] [char](12) NOT NULL,
	[QueQuan] [nvarchar](100) NOT NULL,
 CONSTRAINT [pk_CUDAN] PRIMARY KEY CLUSTERED 
(
	[MaCuDan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOTTHANHTOAN]    Script Date: 06/03/2022 12:15:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOTTHANHTOAN](
	[MaDot] [nvarchar](20) NOT NULL,
	[DotSo] [int] NULL,
	[SoTienDuKien] [bigint] NULL,
	[ThoiHan] [bigint] NULL,
	[SoTienDaTra] [bigint] NULL,
	[MaHopDong] [char](12) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDot] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIAODICH]    Script Date: 06/03/2022 12:15:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIAODICH](
	[MaGiaoDich] [nvarchar](20) NOT NULL,
	[NgayGiaoDich] [bigint] NULL,
	[SoTien] [bigint] NULL,
	[MaDotTT] [nvarchar](20) NULL,
	[MaNhanVien] [varchar](25) NULL,
 CONSTRAINT [PK__GIAODICH__0A2A24EB19F7F56A] PRIMARY KEY CLUSTERED 
(
	[MaGiaoDich] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOPDONG]    Script Date: 06/03/2022 12:15:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOPDONG](
	[MaHopDong] [char](12) NOT NULL,
	[NgayGiaoDich] [date] NOT NULL,
	[DiaChiKH] [nvarchar](100) NOT NULL,
	[MaCuDan] [char](6) NOT NULL,
	[MaCanHo] [char](6) NOT NULL,
	[DaThanhToan] [bigint] NULL,
	[ThoiHan] [date] NULL,
	[MaNhanVien] [varchar](25) NULL,
	[Gia] [bigint] NULL,
	[Coc] [bigint] NULL,
 CONSTRAINT [pk_HOPDONG] PRIMARY KEY CLUSTERED 
(
	[MaHopDong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHUCANHO]    Script Date: 06/03/2022 12:15:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHUCANHO](
	[MaKhu] [char](5) NOT NULL,
	[TenKhu] [nvarchar](50) NOT NULL,
	[SoTang] [int] NOT NULL,
	[SoCanTT] [int] NOT NULL,
	[DiaChi] [nvarchar](15) NOT NULL,
 CONSTRAINT [pk_KHUCANHO] PRIMARY KEY CLUSTERED 
(
	[MaKhu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 06/03/2022 12:15:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MaNhanVien] [varchar](25) NOT NULL,
	[MatKhau] [varchar](16) NOT NULL,
	[HoTen] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[SDT] [nchar](15) NULL,
	[Email] [varchar](40) NULL,
	[VaiTro] [bit] NOT NULL,
 CONSTRAINT [pk_TAIKHOAN] PRIMARY KEY CLUSTERED 
(
	[MaNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CANHO] ([MaCanHo], [DienTich], [Gia], [TrangThai], [SoPhong], [MaCuDan], [MaKhu]) VALUES (N'A10101', 100, 2000000000, 1, 7, N'111134', N'A1   ')
INSERT [dbo].[CANHO] ([MaCanHo], [DienTich], [Gia], [TrangThai], [SoPhong], [MaCuDan], [MaKhu]) VALUES (N'A10102', 100, 2600000000, 1, 6, N'111119', N'A1   ')
INSERT [dbo].[CANHO] ([MaCanHo], [DienTich], [Gia], [TrangThai], [SoPhong], [MaCuDan], [MaKhu]) VALUES (N'A10103', 100, 2600000000, 1, 6, N'111113', N'A1   ')
GO
INSERT [dbo].[CUDAN] ([MaCuDan], [TenCuDan], [NgaySinh], [GioiTinh], [SoDT], [SoCMT], [QueQuan]) VALUES (N'111111', N'Trần Văn Nam ', CAST(N'1998-05-21' AS Date), 1, N'0123456789', N'012345678985', N'Yên Bái')
INSERT [dbo].[CUDAN] ([MaCuDan], [TenCuDan], [NgaySinh], [GioiTinh], [SoDT], [SoCMT], [QueQuan]) VALUES (N'111112', N'Nguyễn Văn An', CAST(N'1997-02-25' AS Date), 1, N'0123456789', N'012365897456', N'Nam Định')
INSERT [dbo].[CUDAN] ([MaCuDan], [TenCuDan], [NgaySinh], [GioiTinh], [SoDT], [SoCMT], [QueQuan]) VALUES (N'111113', N'Phạm Thị Nguyên Hồng ', CAST(N'1991-02-28' AS Date), 1, N'0123658975', N'000256398745', N'Hà Nội')
GO
INSERT [dbo].[DOTTHANHTOAN] ([MaDot], [DotSo], [SoTienDuKien], [ThoiHan], [SoTienDaTra], [MaHopDong]) VALUES (N'HD0005.1', 1, 400000000, 1642006800000, 150000000, N'HD0005      ')
INSERT [dbo].[DOTTHANHTOAN] ([MaDot], [DotSo], [SoTienDuKien], [ThoiHan], [SoTienDaTra], [MaHopDong]) VALUES (N'HD001.1', 1, 110000000, 1640106000000, 110000000, N'HD0001      ')
INSERT [dbo].[DOTTHANHTOAN] ([MaDot], [DotSo], [SoTienDuKien], [ThoiHan], [SoTienDaTra], [MaHopDong]) VALUES (N'HD001.2', 2, 610000000, 1639747009635, 100000000, N'HD0001      ')
GO
INSERT [dbo].[GIAODICH] ([MaGiaoDich], [NgayGiaoDich], [SoTien], [MaDotTT], [MaNhanVien]) VALUES (N'GD0001', 1642525200000, 140000000, N'HD001.1', N'NV002')
INSERT [dbo].[GIAODICH] ([MaGiaoDich], [NgayGiaoDich], [SoTien], [MaDotTT], [MaNhanVien]) VALUES (N'GD0002', 1642525200000, 10000000, N'HD0080.2', N'NV002')
INSERT [dbo].[GIAODICH] ([MaGiaoDich], [NgayGiaoDich], [SoTien], [MaDotTT], [MaNhanVien]) VALUES (N'GD0003', 1642611600000, 10000000, N'HD0080.1', N'NV002')
GO
INSERT [dbo].[HOPDONG] ([MaHopDong], [NgayGiaoDich], [DiaChiKH], [MaCuDan], [MaCanHo], [DaThanhToan], [ThoiHan], [MaNhanVien], [Gia], [Coc]) VALUES (N'HD0001      ', CAST(N'2021-05-25' AS Date), N'Nam Định', N'111112', N'A10101', 45000000, CAST(N'2021-02-02' AS Date), N'NV003', 2600000000, 30000000)
INSERT [dbo].[HOPDONG] ([MaHopDong], [NgayGiaoDich], [DiaChiKH], [MaCuDan], [MaCanHo], [DaThanhToan], [ThoiHan], [MaNhanVien], [Gia], [Coc]) VALUES (N'HD0002      ', CAST(N'2021-05-25' AS Date), N'Bắc Giang', N'111114', N'A10202', 30000000, CAST(N'2021-02-02' AS Date), N'NV003', 2600000000, 30000000)
INSERT [dbo].[HOPDONG] ([MaHopDong], [NgayGiaoDich], [DiaChiKH], [MaCuDan], [MaCanHo], [DaThanhToan], [ThoiHan], [MaNhanVien], [Gia], [Coc]) VALUES (N'HD0003      ', CAST(N'2021-05-25' AS Date), N'Hà Nội', N'111116', N'A10307', 30000000, CAST(N'2021-02-02' AS Date), N'NV003', 2600000000, 30000000)
GO
INSERT [dbo].[KHUCANHO] ([MaKhu], [TenKhu], [SoTang], [SoCanTT], [DiaChi]) VALUES (N'A1   ', N'Thanh Xuân 1 ', 15, 11, N'VIP ')
INSERT [dbo].[KHUCANHO] ([MaKhu], [TenKhu], [SoTang], [SoCanTT], [DiaChi]) VALUES (N'A2   ', N'Thanh Xuân 2 ', 17, 12, N'VIP')
INSERT [dbo].[KHUCANHO] ([MaKhu], [TenKhu], [SoTang], [SoCanTT], [DiaChi]) VALUES (N'A3   ', N'Thanh Xuân 3 ', 17, 12, N'LUXURY')
GO
INSERT [dbo].[NHANVIEN] ([MaNhanVien], [MatKhau], [HoTen], [DiaChi], [SDT], [Email], [VaiTro]) VALUES (N'Admin', N'123456', N'Nguyen Viet Anh', N'Ha Noi', N'0838800839     ', N'Admin@matmagoc.com', 1)
INSERT [dbo].[NHANVIEN] ([MaNhanVien], [MatKhau], [HoTen], [DiaChi], [SDT], [Email], [VaiTro]) VALUES (N'NV001', N'abc123', N'Nguyen Đức Thành', N'Nghệ An', N'091233445566   ', N'NV001@hust.com', 0)
INSERT [dbo].[NHANVIEN] ([MaNhanVien], [MatKhau], [HoTen], [DiaChi], [SDT], [Email], [VaiTro]) VALUES (N'NV002', N'abc123', N'Đinh Tiến Thành', N'Nghệ An', N'091233445566   ', N'NV002@hust.com', 0)
GO
ALTER TABLE [dbo].[CANHO] ADD  CONSTRAINT [DF__CANHO__DienTich__2F10007B]  DEFAULT ((50)) FOR [DienTich]
GO
ALTER TABLE [dbo].[CANHO] ADD  CONSTRAINT [DF__CANHO__TrangThai__300424B4]  DEFAULT ((0)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[CANHO] ADD  CONSTRAINT [DF__CANHO__SoPhong__30F848ED]  DEFAULT ((5)) FOR [SoPhong]
GO
ALTER TABLE [dbo].[CANHO] ADD  CONSTRAINT [DF__CANHO__MaKhu__32E0915F]  DEFAULT ('AA') FOR [MaKhu]
GO
ALTER TABLE [dbo].[CUDAN] ADD  DEFAULT (getdate()) FOR [NgaySinh]
GO
ALTER TABLE [dbo].[CUDAN] ADD  DEFAULT ((0)) FOR [GioiTinh]
GO
ALTER TABLE [dbo].[HOPDONG] ADD  CONSTRAINT [DF__HOPDONG__NgayGia__36B12243]  DEFAULT (getdate()) FOR [NgayGiaoDich]
GO
ALTER TABLE [dbo].[KHUCANHO] ADD  CONSTRAINT [DF__KHUCANHO__SoTang__276EDEB3]  DEFAULT ((1)) FOR [SoTang]
GO
ALTER TABLE [dbo].[KHUCANHO] ADD  CONSTRAINT [DF__KHUCANHO__SoCanT__286302EC]  DEFAULT ((1)) FOR [SoCanTT]
GO
ALTER TABLE [dbo].[NHANVIEN] ADD  CONSTRAINT [DF__TAIKHOAN__VaiTro__24927208]  DEFAULT ((0)) FOR [VaiTro]
GO
ALTER TABLE [dbo].[CANHO]  WITH CHECK ADD  CONSTRAINT [fk1_CANHO] FOREIGN KEY([MaCuDan])
REFERENCES [dbo].[CUDAN] ([MaCuDan])
GO
ALTER TABLE [dbo].[CANHO] CHECK CONSTRAINT [fk1_CANHO]
GO
ALTER TABLE [dbo].[CANHO]  WITH CHECK ADD  CONSTRAINT [fk2_CANHO] FOREIGN KEY([MaKhu])
REFERENCES [dbo].[KHUCANHO] ([MaKhu])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CANHO] CHECK CONSTRAINT [fk2_CANHO]
GO
ALTER TABLE [dbo].[DOTTHANHTOAN]  WITH CHECK ADD  CONSTRAINT [FK__DOTTHANHT__MaHop__25518C17] FOREIGN KEY([MaHopDong])
REFERENCES [dbo].[HOPDONG] ([MaHopDong])
GO
ALTER TABLE [dbo].[DOTTHANHTOAN] CHECK CONSTRAINT [FK__DOTTHANHT__MaHop__25518C17]
GO
ALTER TABLE [dbo].[GIAODICH]  WITH CHECK ADD  CONSTRAINT [FK__GIAODICH__MaDot__29221CFB] FOREIGN KEY([MaDotTT])
REFERENCES [dbo].[DOTTHANHTOAN] ([MaDot])
GO
ALTER TABLE [dbo].[GIAODICH] CHECK CONSTRAINT [FK__GIAODICH__MaDot__29221CFB]
GO
ALTER TABLE [dbo].[GIAODICH]  WITH CHECK ADD  CONSTRAINT [FK__GIAODICH__MaNhan__3A4CA8FD] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NHANVIEN] ([MaNhanVien])
GO
ALTER TABLE [dbo].[GIAODICH] CHECK CONSTRAINT [FK__GIAODICH__MaNhan__3A4CA8FD]
GO
ALTER TABLE [dbo].[HOPDONG]  WITH CHECK ADD  CONSTRAINT [FK__HOPDONG__MaNhanV__22751F6C] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NHANVIEN] ([MaNhanVien])
GO
ALTER TABLE [dbo].[HOPDONG] CHECK CONSTRAINT [FK__HOPDONG__MaNhanV__22751F6C]
GO
ALTER TABLE [dbo].[HOPDONG]  WITH CHECK ADD  CONSTRAINT [fk1_HOPDONG] FOREIGN KEY([MaCuDan])
REFERENCES [dbo].[CUDAN] ([MaCuDan])
GO
ALTER TABLE [dbo].[HOPDONG] CHECK CONSTRAINT [fk1_HOPDONG]
GO
ALTER TABLE [dbo].[HOPDONG]  WITH CHECK ADD  CONSTRAINT [fk2_HOPDONG] FOREIGN KEY([MaCanHo])
REFERENCES [dbo].[CANHO] ([MaCanHo])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HOPDONG] CHECK CONSTRAINT [fk2_HOPDONG]
GO
/****** Object:  StoredProcedure [dbo].[searchApartments]    Script Date: 06/03/2022 12:15:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[searchApartments]
    @tugia BIGINT ,
    @dengia BIGINT ,
    @tudt FLOAT ,
    @dendt FLOAT,
	@sophong INT
  AS
    BEGIN
  -----
        IF ( @dendt = 0 AND @dengia = 0 ) -- dt > 50, gia > 2000000000
            SELECT c.MaCanHo, c.DienTich, c.Gia, c.SoPhong, k.TenKhu
                FROM [dbo].[CANHO] c
                    JOIN [dbo].KHUCANHO k
                    ON k.MaKhu = c.MaKhu
                WHERE TrangThai = 0 AND Gia > @tugia AND DienTich > @tudt AND SoPhong=@sophong
        ELSE -- dt > 50, 0 <gia <= 2000000000
            IF ( @dendt = 0 AND ( ( @tugia = 0 AND @dengia = 1000000000 ) OR ( @tugia = 1000000000 AND @dengia = 2000000000 ) ) )
                SELECT c.MaCanHo, c.DienTich, c.Gia, c.SoPhong, k.TenKhu
                    FROM [dbo].[CANHO] c
                        JOIN [dbo].KHUCANHO k
                        ON k.MaKhu = c.MaKhu
                    WHERE Gia BETWEEN @tugia AND @dengia AND DienTich > @tudt AND SoPhong=@sophong
            ELSE -- 30 <= dt <= 50, gia > 2000000000
                IF ( @dengia = 0 AND ( ( @tudt = 30 AND @dendt = 40 ) OR ( @tudt = 40 AND @dendt = 50 ) ) )
                    SELECT c.MaCanHo, c.DienTich, c.Gia, c.SoPhong, k.TenKhu
                        FROM [dbo].[CANHO] c
                            JOIN [dbo].KHUCANHO k
                            ON k.MaKhu = c.MaKhu
                        WHERE Gia > @tugia AND DienTich BETWEEN @tudt AND @dendt AND SoPhong=@sophong
                ELSE --  30 <= dt <= 50 , 0 < gia <= 2000000000
                    SELECT c.MaCanHo, c.DienTich, c.Gia, c.SoPhong, k.TenKhu
                        FROM [dbo].[CANHO] c
                            JOIN [dbo].KHUCANHO k
                            ON k.MaKhu = c.MaKhu
                        WHERE  Gia BETWEEN @tugia AND @dengia AND DienTich BETWEEN @tudt AND @dendt AND SoPhong=@sophong
  -----
    END
GO
/****** Object:  StoredProcedure [dbo].[searchApartmentWithCriterias]    Script Date: 06/03/2022 12:15:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  CREATE PROC [dbo].[searchApartmentWithCriterias]
    @trangthai BIT ,
    @tugia BIGINT ,
    @dengia BIGINT ,
    @tudt FLOAT ,
    @dendt FLOAT
  AS
    BEGIN
  -----
        IF ( @dendt = 0 AND @dengia = 0 ) -- dt > 50, gia > 2000000000
            SELECT c.MaCanHo, c.DienTich, c.Gia, c.TrangThai, c.SoPhong,
                    c.MaCuDan, k.TenKhu
                FROM [dbo].[CANHO] c
                    JOIN [dbo].KHUCANHO k
                    ON k.MaKhu = c.MaKhu
                WHERE TrangThai = @trangthai AND Gia > @tugia AND DienTich > @tudt
        ELSE -- dt > 50, 0 <gia <= 2000000000
            IF ( @dendt = 0 AND ( ( @tugia = 0 AND @dengia = 1000000000 ) OR ( @tugia = 1000000000 AND @dengia = 2000000000 ) ) )
                SELECT c.MaCanHo, c.DienTich, c.Gia, c.TrangThai, c.SoPhong,
                        c.MaCuDan, k.TenKhu
                    FROM [dbo].[CANHO] c
                        JOIN [dbo].KHUCANHO k
                        ON k.MaKhu = c.MaKhu
                    WHERE TrangThai = @trangthai AND Gia BETWEEN @tugia AND @dengia AND DienTich > @tudt
            ELSE -- 30 <= dt <= 50, gia > 2000000000
                IF ( @dengia = 0 AND ( ( @tudt = 30 AND @dendt = 40 ) OR ( @tudt = 40 AND @dendt = 50 ) ) )
                    SELECT c.MaCanHo, c.DienTich, c.Gia, c.TrangThai,
                            c.SoPhong, c.MaCuDan, k.TenKhu
                        FROM [dbo].[CANHO] c
                            JOIN [dbo].KHUCANHO k
                            ON k.MaKhu = c.MaKhu
                        WHERE TrangThai = @trangthai AND Gia > @tugia AND DienTich BETWEEN @tudt AND @dendt
                ELSE --  30 <= dt <= 50 , 0 < gia <= 2000000000
                    SELECT c.MaCanHo, c.DienTich, c.Gia, c.TrangThai,
                            c.SoPhong, c.MaCuDan, k.TenKhu
                        FROM [dbo].[CANHO] c
                            JOIN [dbo].KHUCANHO k
                            ON k.MaKhu = c.MaKhu
                        WHERE TrangThai = @trangthai AND Gia BETWEEN @tugia AND @dengia AND DienTich BETWEEN @tudt AND @dendt
  -----
    END

GO
